helmDefaults:
  wait: true
  timeout: 600
  recreatePods: false
  force: false

# Environment definitions
environments:
  default:
    values:
      - config/enabled.yaml
  dev:
    values:
      - config/enabled.yaml
  staging:
    values:
      - config/enabled.yaml
  prod:
    values:
      - config/enabled.yaml

{{ tpl (readFile "config/repositories.yaml.gotmpl") . }}

{{ tpl (readFile "config/releases.yaml.gotmpl") . }}
