repositories:
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: cloudflare
    url: https://cloudflare.github.io/helm-charts
  - name: vmware-tanzu
    url: https://vmware-tanzu.github.io/helm-charts
  - name: grafana
    url: https://grafana.github.io/helm-charts
  - name: tailscale
    url: https://pkgs.tailscale.com/helmcharts
  - name: jetstack
    url: https://charts.jetstack.io
