# Staging Environment Inventory

[k3s_servers]
k3s-staging-master-01 ansible_host=192.168.3.10 ansible_user=ubuntu
k3s-staging-master-02 ansible_host=192.168.3.11 ansible_user=ubuntu

[k3s_agents]
k3s-staging-worker-01 ansible_host=192.168.3.21 ansible_user=ubuntu
k3s-staging-worker-02 ansible_host=192.168.3.22 ansible_user=ubuntu
k3s-staging-worker-03 ansible_host=192.168.3.23 ansible_user=ubuntu

[all:vars]
ansible_python_interpreter=/usr/bin/python3
