# Development Environment Inventory

[k3s_servers]
k3s-dev-master ansible_host=192.168.2.10 ansible_user=ubuntu

[k3s_agents]
k3s-dev-worker-01 ansible_host=192.168.2.11 ansible_user=ubuntu
k3s-dev-worker-02 ansible_host=192.168.2.12 ansible_user=ubuntu

[all:vars]
ansible_python_interpreter=/usr/bin/python3
