---
# Handlers for HAProxy role

- name: Restart HAProxy
  ansible.builtin.systemd:
    name: haproxy
    state: restarted
    daemon_reload: yes

- name: Reload HAProxy
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded
